name: Create release

on:
  push:
    tags:
      - "*.*.*"

jobs:
  relase:
    name: Create release
    runs-on: ubuntu-latest
    steps:
    - name: Check out
      uses: actions/checkout@v4
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        body_path: CHANGELOG.md
